*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

/* Container */

.map-container{
    position:relative;
    width:100vw;
    height:100vh;
}

/* Map Image */

.map{
    width:100%;
    height:100%;
    object-fit:contain;
    display:block;
}

/* All Hotspots */

.spot{
    position:absolute;

    border:none;
    border-radius:50%;

    background:rgba(255,0,0,0.25); /* TEMPORARY */
    cursor:pointer;

    z-index:10;
}

/* Juliee to Juhi */

.juliee{
    width:80px;
    height:80px;

    top:27%;
    left:43%;
}

/* Grass and Gossips */

.grass{
    width:80px;
    height:80px;

    top:46%;
    left:58%;
}

/* Transit and Talks */

.transit{
    width:80px;
    height:80px;

    top:60%;
    left:33%;
}

/* Flabbergasted Flight */

.flight{
    width:90px;
    height:90px;

    top:73%;
    left:57%;
}

/* Next Page */

#nextBtn{
    position:absolute;

    bottom:8%;
    right:6%;

    width:180px;
    height:80px;

    background:rgba(0,255,0,0.25); /* TEMPORARY */

    border:none;
    cursor:pointer;

    z-index:20;
}

/* Hover */

.spot:hover,
#nextBtn:hover{
    background:rgba(255,255,255,0.25);
}

/* Page Transition */

body{
    transition:opacity .5s ease;
}

body.fade{
    opacity:0;
}
