*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

/* =========================
   MAP CONTAINER
========================= */

.map-container{

    position:relative;

    width:100vw;
    height:100vh;
}

/* =========================
   MAP IMAGE
========================= */

.map{

    position:absolute;

    top:50%;
    left:50%;

    height:95vh;
    width:auto;

    transform:translate(-50%,-50%);

    display:block;
}

/* =========================
   HOTSPOTS
========================= */



/* =========================
   JULIEE TO JUHI
========================= */

.juliee{

    width:110px;
    height:110px;

    top:24%;
    left:30%;
}

/* =========================
   GRASS & GOSSIPS
========================= */

.grass{

    width:110px;
    height:110px;

    top:35%;
    left:65%;
}

/* =========================
   TRANSIT & TALKS
========================= */

.transit{

    width:110px;
    height:110px;

    top:50%;
    left:30%;
}

/* =========================
   FLABBERGASTED FLIGHT
========================= */

.flight{

    width:110px;
    height:110px;

    top:64%;
    left:58%;
}

/* =========================
   NEXT PAGE
========================= */

#nextBtn{

    position:absolute;

    width:170px;
    height:100px;

    bottom:10%;
    right:1%;

    background:rgba(0,255,0,0.35);

    border:2px solid lime;

    z-index:20;

    cursor:pointer;
}

/* =========================
   HOVER EFFECT
========================= */

.spot:hover{
    background:rgba(255,255,255,0.5);
}

#nextBtn:hover{
    background:rgba(0,255,0,0.6);
}

/* =========================
   PAGE TRANSITION
========================= */

body{
    transition:opacity .5s ease;
}

body.fade{
    opacity:0;
}
