*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
}

.poster{

    position:relative;

    width:100vw;
    height:100vh;

    overflow:hidden;
}

/* FULL POSTER */

.background{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    object-fit:contain;

    z-index:1;
}

/* 3D MODEL */

#viewer{

    position:absolute;

    left:50%;
    top:48%;

    width:38vw;
    height:32vh;

    transform:translate(-50%,-50%);

    z-index:10;
}

/* INVISIBLE SEAL BUTTON */

.seal-hitbox{

    position:absolute;

    left:50%;
    top:79%;

    width:110px;
    height:110px;

    transform:translate(-50%,-50%);

    border-radius:50%;

    z-index:20;

    cursor:pointer;

    background:transparent;
}
