*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:#000;
    font-family:serif;
}

.cover{
    position:relative;
    width:100vw;
    height:100vh;
}

body{
    transition:opacity .6s ease;
}

body.fade{
    opacity:0;
}

/* Poster */

.background{
    position:absolute;
    inset:0;

    width:100%;
    height:100%;

    object-fit:cover;
    object-position:center;

    z-index:1;
}

/* ThreeJS */

#model-container{
    position:absolute;

    left:50%;
    top:47%;

    width:70vw;
    height:45vh;

    transform:translate(-50%,-50%);

    z-index:5;
}

/* Invisible Seal Button */

#openButton{
    position:absolute;

    width:150px;
    height:150px;

    left:50%;
    bottom:16%;

    transform:translateX(-50%);

    background:transparent;
    border:none;

    z-index:10;
}
/* Mobile Fine Tuning */

@media (min-width:600px){

    .cover{
        max-width:430px;
        margin:auto;
    }

}
.modal{

    position:fixed;
    inset:0;

    display:none;

    justify-content:center;
    align-items:center;

    backdrop-filter:blur(6px);

    background:rgba(0,0,0,0.35);

    z-index:100;
}

.modal.show{
    display:flex;
}

.modal-card{

    width:85%;
    max-width:350px;

    padding:28px;

    border-radius:20px;

    background:#f1dfbe;

    border:2px solid #8d6e3c;

    text-align:center;

    box-shadow:0 0 25px rgba(0,0,0,.3);
}

.modal-card h2{

    color:#4d2f12;
    margin-bottom:20px;
}

.modal-card input{

    width:100%;

    padding:14px;

    border-radius:10px;

    border:1px solid #8d6e3c;

    font-size:16px;

    margin-bottom:15px;
}

.hint-section{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-bottom:10px;
}

#hintBtn{

    width:28px;
    height:28px;

    border-radius:50%;

    border:none;

    background:#8d6e3c;

    color:white;

    cursor:pointer;
}

#hintText{

    display:none;

    font-size:14px;

    color:#4d2f12;

    margin-bottom:20px;

    line-height:1.5;
}

#unlockBtn{

    width:100%;

    padding:14px;

    border:none;

    border-radius:12px;

    background:#8d6e3c;

    color:white;

    font-size:16px;

    cursor:pointer;
}
